
  <div class="site__wrapper">
      <div class="grid">
          <div class="card">
            <div class="card__image">
              <img src="https://unsplash.it/400/608?image=123" alt="">
              <div class="card__overlay card__overlay--indigo">
                <div class="card__overlay-content">
                  <ul class="card__meta">
                    <li><a href="#0"><i class="fa fa-tag"></i>{{post.title}}</a></li>
                  </ul>
                </div>
              </div>
             </div>
          <div class="content">
              {{post.description}}        
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              <footer class="card-footer">
                <button (click)="deleteItem(post)" class="button">Delete</button>
              </footer>
          </div>
          
        </div>
      </div>
</div>



  



